body, table, tr, td, th, thead, tbody {
	margin: 0; padding: 0;
	border: 0;
}
body {
	width: 100%;
	font-size: 13px;
	color: #595959;
}

h1 {
	font-size: 14px;
	color: #595959;
	text-transform: uppercase;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid #595959;
}
a, a:visited {
	color: #16A085;
	text-decoration: none;
}
a:hover {
	color: #6cbd45;
}
.green {
	color: #16A085 !important;
}
.red {
	color: #E74C3C !important;
}
.finances {
	margin: 0 auto;
	padding: 0;
	width: 1115px;
	height: 50px;
}
	.finances td.logo, .finances td.left {
		width: 200px;
	}
	.finances td.menu {
		background-color: #EEEEEE;
		height: 50px;
	}
	.finances td.left {
		vertical-align: top;
	}
	.finances td.left .buttons {
		padding: 5px;
		border: 1px solid #EEEEEE;
	}
		.finances td.left .buttons a.left-button {
			display: block;
			margin: 5px auto;
			min-width: 180px;
			width: 180px;
			text-decoration: none;
			text-align: center;
			line-height: 50px;
			font-size: 15px;
			height: 50px;
			color: white;
			border-radius: 10px;
		}
		.finances td.left .buttons a.button-op {
			background-color: #16A085;
		}
			.finances td.left .buttons a.button-op:hover {
				background-color: #6cbd45;
			}
		.finances td.left .buttons a.button-cal {
			background-color: #FF7C45;
		}
			.finances td.left .buttons a.button-cal:hover {
				background-color: #FFA342;
			}
	.finances td.left .left-tabs {
		border: 1px solid #EEEEEE;
	}
		.finances td.left .left-tabs .tab-menu {
			background-color: #EEEEEE;
			height: 30px;
			cursor: pointer;
		}
			.finances td.left .left-tabs .tab-menu .tab-1, .finances td.left .left-tabs .tab-menu .tab-2, .finances td.left .left-tabs .tab-menu .tab-3 {
				display: block;
				float: left;
				height: 30px;
				width: 30px;
			}
			.finances td.left .left-tabs .tab-menu div{
				width: 30px;
				height: 30px;
				background: url("../images/controlPanel.png") no-repeat;
			}
			.finances td.left .left-tabs .tab-menu .tab-1 {
				background-position: 5px 5px;
			}
				.finances td.left .left-tabs .tab-menu .tab-1:hover, .finances td.left .left-tabs .tab-menu .tab-1.active{
					background-position: -50px 5px;
					background-color: #ffffff;
				}
			.finances td.left .left-tabs .tab-menu .tab-2 {
				background-position: 7px -30px;
			}
				.finances td.left .left-tabs .tab-menu .tab-2:hover, .finances td.left .left-tabs .tab-menu .tab-2.active{
					background-position: -50px -30px;
					background-color: #ffffff;
				}
			.finances td.left .left-tabs .tab-menu .tab-3 {
				background-position: 7px -160px;
			}
				.finances td.left .left-tabs .tab-menu .tab-3:hover, .finances td.left .left-tabs .tab-menu .tab-3.active{
					background-position: -50px -160px;
					background-color: #ffffff;
				}
				.finances td.left .left-tabs .tab-menu .tab-1.active,
				.finances td.left .left-tabs .tab-menu .tab-2.active,
				.finances td.left .left-tabs .tab-menu .tab-3.active {
					cursor: default;
				}

		.finances td.left .left-tabs .tab-content {
			background-color: #ffffff;
		}
			.finances td.left .left-tabs .tab-content .hidden {
				display: none;
			}
			.finances td.left .left-tabs .tab-content .content-1,
			.finances td.left .left-tabs .tab-content .content-2,
			.finances td.left .left-tabs .tab-content .content-3 {
				width: 100%;
			}
				.finances td.left .left-tabs .tab-content .content-1 a.add,
				.finances td.left .left-tabs .tab-content .content-2 a.add,
				.finances td.left .left-tabs .tab-content .content-3 a.journal {
					display: block;
					text-decoration: none;
					color: #16A085;
					position: relative;
					margin-top: 10px;
					margin-bottom: 10px;
					font-size: 13px;
					left: 40px;
				}
				.finances td.left .left-tabs .tab-content .content-1 a.add,
				.finances td.left .left-tabs .tab-content .content-2 a.add {
					background: url("../images/controlPanel.png") no-repeat -12px -137px;
				}
				.finances td.left .left-tabs .tab-content .content-1 a.add:hover,
				.finances td.left .left-tabs .tab-content .content-2 a.add:hover {
					color: #6cbd45;
				}
				.finances td.left .left-tabs .tab-content .content-3 a.journal {
					background: url("../images/controlPanel.png") no-repeat -63px -233px;
				}
				.finances td.left .left-tabs .tab-content .content-3 a.journal:hover {
					background: url("../images/controlPanel.png") no-repeat -63px -250px;
					color: #6cbd45;
				}

				.finances td.left .left-tabs .tab-content .content-1 .category {
					width: 100%;
				}
				.finances td.left .left-tabs .tab-content .content-1 .category .header{
					width: 100%;
					background-color: #eeeeee;
					height: 30px;
					cursor: pointer;
					z-index: 1;
				}
					.finances td.left .left-tabs .tab-content .content-1 .category .header .arrow {
						display: block;
						float: left;
						left: 7px;
						position: relative;
						width: 20px;
						height: 30px;
						background: url("../images/controlPanel.png") no-repeat 0 -280px;
					}
					.finances td.left .left-tabs .tab-content .content-1 .category .header.open .arrow {
						background: url("../images/controlPanel.png") no-repeat 0 -330px;
					}
					.finances td.left .left-tabs .tab-content .content-1 .category .header .name {
						display: block;
						float: left;
						position: relative;
						top: 8px;
						font-size: 13px;
						font-weight: bold;
						color: #595959;
						z-index: inherit;
						overflow: hidden;
					}
					.finances td.left .left-tabs .tab-content .content-1 .category .header .money {
						display: block;
						float: right;
						position: relative;
						top: 8px;
						font-weight: bold;
						font-size: 13px;
						right: 5px;
						z-index: 2;
					}
				.finances td.left .left-tabs .tab-content .content-1 .category .item {
					width: 100%;
					background-color: #ffffff;
					height: 30px;
					border-bottom: 1px solid #eeeeee;
					display: block;
					z-index: inherit;
					cursor: pointer;
					position: relative;
				}
				.finances td.left .left-tabs .tab-content .content-1 .category .item:hover {
					background-color: #10e9d7;
					z-index: inherit;
				}

					.finances td.left .left-tabs .tab-content .content-1 .category .item .name {
						display: block;
						float: left;
						position: relative;
						top: 9px;
						font-size: 13px;
						color: #595959;
						left: 5px;
					}
					.finances td.left .left-tabs .tab-content .content-1 .category .item .money {
						display: block;
						float: right;
						position: relative;
						top: 9px;
						font-weight: bold;
						font-size: 13px;
						right: 5px;
					}
					.finances td.left .left-tabs .tab-content .content-1 .category .item .description {
						display: block;
						position: absolute;
						min-width: 196px;
						top: 30px;
						border: 1px solid #eeeeee;
						vertical-align: top;
						z-index: 5;
						margin: 0;
						padding: 0;
						background-color: #ffffff;
					}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .description .info {
							width: 100%;
							font-size: 13px;
							margin: 0;
							padding: 0;
							color: #595959;
							z-index: inherit;
						}
							.finances td.left .left-tabs .tab-content .content-1 .category .item .description .info .left {
								text-align: left;
								width: 100px;
								vertical-align: top;
								z-index: inherit;
							}
							.finances td.left .left-tabs .tab-content .content-1 .category .item .description .info .right{
								text-align: right;
								width: 80px;
								vertical-align: top;
								z-index: inherit;
							}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons {
							width: 110px;
							position: absolute;
							height: 25px;
							max-height: 25px;
							top: 3px;
							left: 90px;
							z-index: 10;
							margin: 0;
							padding: 0;
							border: 0;
							/*background-color: #004e55;*/

						}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .button {
							display: block;
							float: left;
							width: 25px;
							height: 25px;
							margin-left: 1px;
							margin-right: 1px;
							background: url("../images/activePanel.png") no-repeat -26px 0;
						}
							.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .button:hover,
							.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .button.checked {
								background: url("../images/activePanel.png") no-repeat 0 0;
							}
								.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .button.checked:hover {
									background: url("../images/activePanel.png") no-repeat -26px 0;
								}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons span{
							display: block;
							width: 15px;
							height: 15px;
							margin: 4px auto;
							/*background-color: #ffffff;*/
						}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .add span {
							background: url("../images/activePanel.png") no-repeat -102px -30px;
						}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .edit span {
							background: url("../images/activePanel.png") no-repeat -2px -30px;
						}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .like span {
							background: url("../images/activePanel.png") no-repeat -52px -30px;
						}
						.finances td.left .left-tabs .tab-content .content-1 .category .item .buttons .delete span {
							background: url("../images/activePanel.png") no-repeat -77px -30px;
						}

					.finances td.left .left-tabs .tab-content .content-1 .category #cat-list {
						border-bottom: 2px solid #ffffff;
					}

				.finances td.left .left-tabs .tab-content .content-2 .labels {
					width: 100%;
					border-bottom: 1px solid #eeeeee;
				}
					.finances td.left .left-tabs .tab-content .content-2 .labels h2 {
						width: 180px;
						background-color: #eeeeee;
						height: 20px;
						font-size: 13px;
						color: #595959;
						padding-left: 20px;
						padding-top: 10px;
					}
					.finances td.left .left-tabs .tab-content .content-2 .labels .search {
						width: 100%;
						padding-left: 15px;
						padding-bottom: 10px;
					}
						.finances td.left .left-tabs .tab-content .content-2 .labels input {
							width: 160px;
							border: 1px solid #eeeeee;
							color: #595959;
							font-size: 13px;
							margin: 0 auto;
						}
					.finances td.left .left-tabs .tab-content .content-2 .labels .nav {
						width: 100%;
						padding-left: 15px;
						padding-bottom: 10px;
						height: 20px;
					}
					.finances td.left .left-tabs .tab-content .content-2 .labels .list {
						width: 100%;
					}
						.finances td.left .left-tabs .tab-content .content-2 .labels .list .label {
							width: 200px;
							height: 25px;
							position: relative;
							cursor: pointer;
						}
							.finances td.left .left-tabs .tab-content .content-2 .labels .list .label:hover {
								background-color: #10e9d7;
							}
							.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .name {
								display: block;
								position: absolute;
								color: #595959;
								font-size: 13px;
								padding-left: 5px;
								padding-top: 5px;
								padding-bottom: 5px;
							}
							.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .buttons {
								width: 60px;
								position: absolute;
								height: 25px;
								max-height: 25px;
								top: 0;
								left: 140px;
								z-index: 10;
								margin: 0;
								padding: 0;
								border: 0;
								/*background-color: #004e55;*/
							}
							.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .buttons .button {
								display: block;
								float: left;
								width: 25px;
								height: 25px;
								margin-left: 2px;
								margin-right: 2px;
								background: url("../images/activePanel.png") no-repeat -26px 0;
							}
							.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .buttons .button:hover{
								background: url("../images/activePanel.png") no-repeat 0 0;
							}
							.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .buttons span{
								display: block;
								width: 15px;
								height: 15px;
								margin: 4px auto;
								/*background-color: #ffffff;*/
							}
								.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .buttons .edit span {
									background: url("../images/activePanel.png") no-repeat -2px -30px;
								}
								.finances td.left .left-tabs .tab-content .content-2 .labels .list .label .buttons .delete span {
									background: url("../images/activePanel.png") no-repeat -77px -30px;
								}
				.finances td.left .left-tabs .tab-content .content-3 .planing {
					width: 100%;
				}
					.finances td.left .left-tabs .tab-content .content-3 .planing .header{
						width: 100%;
						background-color: #eeeeee;
						height: 30px;
						cursor: pointer;
						z-index: 1;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .header .arrow {
						display: block;
						float: left;
						left: 7px;
						position: relative;
						width: 20px;
						height: 30px;
						background: url("../images/controlPanel.png") no-repeat 0 -280px;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .header.open .arrow {
						background: url("../images/controlPanel.png") no-repeat 0 -330px;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .header .name {
						display: block;
						float: left;
						position: relative;
						top: 8px;
						font-size: 13px;
						font-weight: bold;
						color: #595959;
						z-index: inherit;
						overflow: hidden;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan {
						width: 100%;
						background-color: #ffffff;
						height: 50px;
						border-bottom: 1px solid #eeeeee;
						display: block;
						z-index: inherit;
						cursor: pointer;
						position: relative;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan:hover {
						background-color: #10e9d7;
						z-index: inherit;
					}

					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .name {
						display: block;
						float: left;
						position: relative;
						top: 9px;
						font-size: 13px;
						color: #595959;
						left: 5px;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .money {
						display: block;
						float: right;
						position: relative;
						top: 9px;
						font-weight: bold;
						font-size: 13px;
						right: 5px;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons {
						width: 110px;
						position: absolute;
						height: 25px;
						max-height: 25px;
						top: 10px;
						left: 115px;
						z-index: 10;
						margin: 0;
						padding: 0;
						border: 0;
						/*background-color: #004e55;*/

					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .button {
						display: block;
						float: left;
						width: 25px;
						height: 25px;
						margin-left: 1px;
						margin-right: 1px;
						background: url("../images/activePanel.png") no-repeat -26px 0;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .button:hover,
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .button.checked {
						background: url("../images/activePanel.png") no-repeat 0 0;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .button.checked:hover {
						background: url("../images/activePanel.png") no-repeat -26px 0;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons span{
						display: block;
						width: 15px;
						height: 15px;
						margin: 4px auto;
						/*background-color: #ffffff;*/
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .confirm span {
						background: url("../images/activePanel.png") no-repeat -27px -30px;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .edit span {
						background: url("../images/activePanel.png") no-repeat -2px -30px;
					}
					.finances td.left .left-tabs .tab-content .content-3 .planing .plan .buttons .delete span {
						background: url("../images/activePanel.png") no-repeat -77px -30px;
					}
	.finances td.info {
		/*background-color: #004e55;*/
		width: 915px;
		vertical-align: top;
	}
	.finances td.info .main {
		/*background-color: #0056cc;*/
		width: 690px;
		/*min-height: 90%;*/
		float: left;
		margin: 5px 5px;
		border: 1px solid #eeeeee;
	}
	.finances td.info .right {
		/*background-color: #00abbb;*/
		display: block;
		float: right;
		width: 200px;
		margin-top: 5px;
		border: 1px solid #eeeeee;
	}
.account-type select {
	width: 300px;
}
.img-like {
	background: url("../images/states.png") no-repeat scroll 0 1px transparent;
	display: inline-block;
	height: 15px;
	width: 15px;
	vertical-align: bottom;
}
.img-final {
	background: url("../images/states.png") no-repeat scroll 0 -62px transparent;
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: bottom;
}
.img-hidden {
	background: url("../images/states.png") no-repeat scroll 0 -29px;
	display: inline-block;
	height: 15px;
	width: 15px;
	vertical-align: bottom;
}
.form-element {
	min-width: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	color: #595959;
	display: block;
	float: left;
}
.clearfix {
	display: block;
	float: none;
}
.form-element label {
	display: block;
	margin-bottom: 5px;
}
.form-element select {
	color: #595959;
}
.form-element input[type=text],
.form-element select {
	width: 300px;
}
.account-description textarea,
.target-description textarea{
	width: 300px;
	height: 50px;
}
.setup-link {
	position: relative;
	left: 330px;
	top: -15px;
}
.button-additional {
	display: block;
	min-width: 200px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	height: 30px;
	color: white;
	border-radius: 10px;
	background-color: #16A085;
	cursor: pointer;
}
.button-additional:hover {
	background-color: #6cbd45;
}
.account-card-validity select,
.account-date-open select,
.account-date-close select,
.account-date-extradition select,
.account-date-return select,
.account-real-estate-date-buy select,
.account-auto-date-buy select {
	width: 60px;
}
.target-pay-first input,
.target-pay-date input {
	width: 100px !important;
	margin-left: 10px;
}
.form-element #monthly-average-pay, .form-element #monthly-average-buy {
	color: #808080;
}
.button-submit {
	display: block;
	float: right;
	width: 220px;
	margin-bottom: 10px;
}
.button-submit .cancel, .button-submit .submit {
	display: inline-block;
	float: left;
	margin-left: 5px;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
}
.button-submit .cancel span, .button-submit .submit span{
	display: block;
	position: relative;
	color: #ffffff;
	/*font-weight: bold;*/
	font-size: 14px;
	top: 6px;
	text-align: center;
}
.button-submit .cancel {
	background-color: #808080;
}
.button-submit .cancel:hover, .button-submit .submit:hover {
	background-color: #10c4b2;
}
.button-submit .submit {
	background-color: #16A085;
}
.target-image {
	width: 220px;
	height: 200px;
	display: block;
	float: right;
}
.target-image .image {
	display: block;
	margin: 5px auto;
	/*background-color: #00abbb;*/
	width: 210px;
	height: 144px;
	background: url("../images/target.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-car-1 {
	background: url("../images/automobile.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-car-2 {
	background: url("../images/automobile.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-car-3 {
	background: url("../images/automobile.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-computer-1 {
	background: url("../images/computer.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-computer-2 {
	background: url("../images/computer.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-computer-3 {
	background: url("../images/computer.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-education-1 {
	background: url("../images/education.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-education-2 {
	background: url("../images/education.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-education-3 {
	background: url("../images/education.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-electronics-1 {
	background: url("../images/electronics.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-electronics-2 {
	background: url("../images/electronics.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-electronics-3 {
	background: url("../images/electronics.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-flat-1 {
	background: url("../images/flat.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-flat-2 {
	background: url("../images/flat.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-flat-3 {
	background: url("../images/flat.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-fur-coat-1 {
	background: url("../images/fur_coat.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-fur-coat-2 {
	background: url("../images/fur_coat.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-fur-coat-3 {
	background: url("../images/fur_coat.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-furniture-1 {
	background: url("../images/furniture.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-furniture-2 {
	background: url("../images/furniture.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-furniture-3 {
	background: url("../images/furniture.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-health-1 {
	background: url("../images/health.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-health-2 {
	background: url("../images/health.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-health-3 {
	background: url("../images/health.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-house-1 {
	background: url("../images/house.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-house-2 {
	background: url("../images/house.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-house-3 {
	background: url("../images/house.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-jewelry-1 {
	background: url("../images/jewelry.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-jewelry-2 {
	background: url("../images/jewelry.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-jewelry-3 {
	background: url("../images/jewelry.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-land-1 {
	background: url("../images/land.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-land-2 {
	background: url("../images/land.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-land-3 {
	background: url("../images/land.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-motocycle-1 {
	background: url("../images/motocycle.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-motocycle-2 {
	background: url("../images/motocycle.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-motocycle-3 {
	background: url("../images/motocycle.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-pillow-1 {
	background: url("../images/pillow.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-pillow-2 {
	background: url("../images/pillow.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-pillow-3 {
	background: url("../images/pillow.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-rest-1 {
	background: url("../images/rest.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-rest-2 {
	background: url("../images/rest.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-rest-3 {
	background: url("../images/rest.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-target-1 {
	background: url("../images/target.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-target-2 {
	background: url("../images/target.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-target-3 {
	background: url("../images/target.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-technic-1 {
	background: url("../images/technic.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-technic-2 {
	background: url("../images/technic.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-technic-3 {
	background: url("../images/technic.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .img-wedding-1 {
	background: url("../images/wedding.jpg") no-repeat scroll 0 0 transparent;
}
.target-image .img-wedding-2 {
	background: url("../images/wedding.jpg") no-repeat scroll -220px 0 transparent;
}
.target-image .img-wedding-3 {
	background: url("../images/wedding.jpg") no-repeat scroll -430px 0 transparent;
}
.target-image .button-img {
	display: block;
	margin: 5px auto;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #16A085;
}
.target-image .button-img:hover {
	background-color: #10c4b2;
}
.target-image .button-img span {
	display: block;
	position: relative;
	color: #ffffff;
	font-size: 14px;
	top: 6px;
	text-align: center;
}

.operation-beat {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dee1e1;
}
.operation-time input {
	width: 20px !important;
	margin-left: 10px;
}
